.a {
    border-color: blue;
    border-style: solid; 
    border-collapse: separate; 
    
}
.b { border-collapse: collapse; }

.a { table-layout: auto; width: 200px; }
.b { table-layout: auto; width: 100%; }
.c { table-layout: fixed; width: 200px; }
