/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Header */
header{
    text-align: center;
    background-color: #333;
    padding: 20px 0;
}

.header-logo {
    max-width: 100%;
    height: auto;
}

/* Main content */
main {
    padding: 20px;
}

.seccionPersonajes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* Cards */
.card {
    border: 5px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    max-width: 300px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
    max-width: 100%;
    border-radius: 8px;
}

.card h2 {
    margin: 10px 0;
    font-size: 24px;
}

.card p {
    font-size: 16px;
    line-height: 1.5;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}
.image-container {
    width: 200px; /* Ancho fijo */
    height: 200px; /* Alto fijo */
    overflow: hidden; /* Oculta lo que sobresalga */
    border-radius: 8px; /* Bordes redondeados */
    margin: 0 auto; /* Centra el contenedor */
}

.image-container img {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    height: 100%; /* Ocupa todo el alto del contenedor */
    object-fit: cover; /* Ajusta la imagen sin deformarla */
}
/* Estilos para los enlaces de las tarjetas */
.moveSet {
    text-decoration: none; /* Quita el subrayado del enlace */
    color: inherit; /* Hereda el color del texto */
}

/* Estilos para la sección de movimientos */
.moveSetList {
    padding: 20px;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.moveSetList-container {
    margin-bottom: 40px;
}

.moveSetList-container h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.moveSetList-container ul {
    list-style-type: disc;
    margin-left: 20px;
}

.moveSetList-container li {
    font-size: 16px;
    margin-bottom: 5px;
}